article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.font-logo {
  /*font-family: "Avenir Next W01 Thin", sans-serif;*/
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 300;
}
.font-logo-bold {
    /*font-family: "Avenir Next W01 Bold", sans-serif;*/
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 700;
}
.font-body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.font-light {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 300;
}
.font-medium {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
}
.font-bold {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
}
.font-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 200;
}
.font-mono {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}
.link-transition {
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  background: #FFF;
  padding-bottom: 100px;
  letter-spacing: -0.03em;
}
body .hljs {
  overflow: auto;
}
body p {
  word-spacing: .1em;
  line-height: 1.4;
}
body hr {
  border: 0;
  border-top: 1px solid #CCC;
  width: 70%;
  margin: 2em auto;
}
a {
  color: #000;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  text-decoration: underline;
}
a:hover {
  color: #FF7000;
  text-decoration: none;
}
a.ss-icon {
  color: #888;
  text-decoration: none;
}
a.email:hover {
  color: #3bc492;
  text-decoration: none;
}
a.twitter:hover {
  color: #55ACEE;
  text-decoration: none;
}
a.octocat:hover {
  color: #CC3399;
  text-decoration: none;
}
a.linkedin:hover {
  color: #4875B4;
  text-decoration: none;
}
.taglist {
  clear: both;
  list-style: none;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
  letter-spacing: -0.06em;
  margin: 0;
}
.taglist li {
  display: inline;
  color: #777;
}
.taglist li.title:after {
  content: ": ";
}
.taglist li:after {
  content: ", ";
}
.taglist li:last-child:after {
  content: "";
}
.taglist li a {
  color: #555;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  text-decoration: none;
}
.taglist li a:hover {
  color: #FF7000;
  text-decoration: underline;
}
body div.header {
  position: relative;
  width: 700px;
  margin: 50px auto 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #555;
}
body div.header h1 {
  /* font-family: "Avenir Next W01 Thin", sans-serif; */
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  word-spacing: -8px;
  letter-spacing: -0.06em;
}
body div.header h1 a {
  color: #555;
  text-decoration: none;
}
body div.header h1 a:hover {
  color: #555;
  text-decoration: none;
}
body div.header h1 span {
  /* font-family: "Avenir Next W01 Bold", sans-serif; */
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 700;
}
body div.header dl {
  position: absolute;
  top: 37px;
  right: 30px;
  width: 30%;
}
body div.header dl dt {
  margin: 0 0 12px 0;
  font-size: 18px;
}
body div.header dl dd {
  margin: 0 0 .1em 0;
  font-size: 14px;
}
.date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: -0.06em;
  line-height: 1;
  padding: 0;
  margin: 0 0 24px 0;
}
body div.contents {
  position: relative;
  width: 700px;
  margin: 10px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #555;
}
body div.contents .masthead {
  position: relative;
  border-bottom: 2px solid #333;
  margin: 40px 0 20px 0;
  padding-bottom: 10px;
}
body div.contents .masthead h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 200;
  font-size: 2.2em;
  line-height: 1.1;
  width: 75%;
  margin: 0;
}
body div.contents h1 {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: -0.1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  text-transform: uppercase;
}
body div.contents h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 200;
  letter-spacing: -0.06em;
  margin-bottom: .3em;
}
body div.contents h3,
body div.contents h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 200;
  letter-spacing: -0.03em;
  line-height: 1.1em;
  margin: 1em 0 0 0;
}
body div.contents h3 a,
body div.contents h4 a {
  text-decoration: none;
}
body div.contents .next {
  margin-top: 2em;
  text-align: center;
}
body div.contents .backhome {
  text-align: center;
  font-size: .9em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
}
body div.contents .backhome a {
  color: #AAA;
}
body div.contents .backhome a:hover {
  color: #000;
}
body div.contents code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
  background: #F3F3F3;
  padding: 0 .5em;
  font-size: .9em;
}
body div.contents pre {
  position: relative;
  margin-bottom: 24px;
  border-radius: 3px;
  border: 1px solid #C3CCD0;
  background: #FFF;
  overflow: hidden;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}
body div.contents pre code {
  display: block;
  padding: 5px 15px;
  overflow-y: auto;
  font-size: 14px;
  line-height: 20px;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}
body div.contents code.has-numbering {
  margin-left: 31px;
}
body div.contents .pre-numbering {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  padding: 5px 5px 5px 0;
  margin: 0;
  border-right: 1px solid #C3CCD0;
  border-radius: 3px 0 0 3px;
  background-color: #DDD;
  text-align: right;
  color: #777;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  cursor: default;
}
body div.social {
  position: relative;
  width: 700px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #555;
}
body div.social p {
  font-size: 40px;
  line-height: 30px;
  text-align: right;
  margin: 0;
  letter-spacing: -5px;
}
.post {
  position: relative;
  padding-bottom: 3em;
  border-bottom: 1px solid #EEE;
}
.post:last-child {
  border: none;
}
.post h3 {
  letter-spacing: -0.06em;
  margin: 1em 0 .3em 0;
  width: 75%;
  font-size: 1.6em;
  line-height: 1.2em;
}
.post p.excerpt {
  clear: both;
}
.post p.date {
  position: absolute;
  top: .8em;
  right: 0;
}
.post .taglist {
  font-size: .8em;
  margin-top: 0;
}
blockquote {
  margin: 1.5em 0;
  padding: 0 0 0 .5em;
  border-left: 3px solid #CCC;
}
.signature {
  border-top: 1px solid #EEE;
  margin-top: 2em;
  padding-top: 1em;
  font-size: .8em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
}
.signature p {
  margin: 0;
}
.signature .taglist {
  margin: 0 0 .5em 0;
  font-size: 1.1em;
}
.footnotes {
  font-size: .9em;
  margin: 2em 2em 0 2em;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
