---
---

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!--[if lt IE 9]>
      <script src="/js/html5.js"></script>
    <![endif]-->

    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/app.css" />

    {% seo %}
    <meta name="keywords" content="contract development, web consultancy, web developer, python developer, xquery developer, xsl developer, scrum master, scrum" />


    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="index,follow" />
    <meta name="language" content="english" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="/js/main.js"></script>

  </head>
  <body>
    <main>
      <div class="logo">
        <h1><a href="/">Oldham<span class="hidden">-</span><span>Made</span> <span class="hidden">Ltd</span></a></h1>
      </div>

      <div class="tagline">
        <p>Delivery-focussed Elixir, Python, XSL/XQuery, (No)SQL, and Agile consultancy, specialising in content migration, API design, and (micro)services.</p>
      </div>

      <div class="social">
        <p>
      	  <a href="mailto:info@oldhammade.net"
             title="Email"
             class="ss-icon ss-social-circle email"
             target="_blank"
          >Email</a>
      	  <a href="https://www.linkedin.com/company/Oldham-Made-Ltd"
             title="LinkedIn"
             class="ss-icon ss-social-circle linkedin"
             target="_blank"
          >LinkedIn</a>
      	  <a href="http://twitter.com/OldhamMade"
             title="Twitter"
             class="ss-icon ss-social-circle twitter"
             target="_blank"
          >Twitter</a>
      	  <a href="http://github.com/OldhamMade"
             title="Github"
             class="ss-icon ss-social-circle octocat"
             target="_blank"
          >Octocat</a>
      	  <a href="/feed.xml"
             title="RSS Feed"
             class="ss-icon ss-social-circle rss"
             target="_blank"
          >RSS</a>
        </p>
      </div>

      <div class="contents">{{ content }}</div>

      <div class="footer">
        <p>&#169; {{ site.time | date: "%Y" }} Oldham-Made Ltd</p>
      </div>
    </main>
  </body>
</html>
