---
layout: common
---

<div class="masthead">
  <h2>{{ page.title }}</h2>
</div>

<div class="page">
  {{ content }}
</div>

<hr />

<div class="signature">
  <ul class="taglist">
    <li class="title">Tagged in</li>
    {% for tag in page.tags %}
    <li><a href="/tags.html#{{tag}}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
  <p class="date">
    <span class="intro">Originally posted:</span>
    <span class="month">{{ page.date | date: "%b" }}</span>
    <span class="day">{{ page.date | date: "%d" }}</span>
    <span class="year">{{ page.date | date: "%Y" }}</span>
  </p>
</div>

<div class="next">
  <p class="social">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }} - {{ site.url }}{{ page.url }}"
       target="_blank"
       class="twitter ss-icon ss-social-circle"
       title="Share on Twitter">Twitter</a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}"
       target="_blank"
       class="linkedin ss-icon ss-social-circle"
       title="Share on LinkedIn">LinkedIn</a>
    <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}"
       target="_blank"
       class="reddit ss-icon ss-social-circle"
       title="Share on Reddit">reddit</a>
  </p>
  <p class="backhome"><a href="/blog/">Return to the listing</a></p>
</div>
